{
    "extends": "airbnb",
    "globals": {
        "describe": true,
        "it": true
    },
    "rules": {
        "global-require": "off",
        "import/no-dynamic-require": "off",
        "func-names": "off",
        "no-console": "off"
    }
}